<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <f:format.raw>{menu}</f:format.raw>
                    <!--{f:cObject(typoscriptObjectPath:'lib.textmenu')->f:format.raw()}-->
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <f:format.raw>{contentNormal}</f:format.raw>
        </div>
    </div>
</div>
